*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    color: brown;
}
a:hover {
    color: rgb(252, 9, 9);
    transition: all 0.5s ease;
}

nav {
    background-color: blueviolet;
    padding: 15px;
    text-align: center;
}

div {
    width: 1000px;
    margin: 0 auto;
}
img {
    width: 50%;
    float: left;
}

h1 {
    text-align: center;
}